body {
	font-size: 12px;
	background-color:#343838;
	color: white;
}

a {
	color: #00DFFC;
}

h1 {
	color: #00B4CC;
}

h6 {
	color: #00DFFC;
}

th {
	color: #00DFFC;
	text-align: center;
}

table {
	width: 100%;
	white-space: nowrap;
	text-align: center;
}

table tr:nth-child(odd){
	background-color: #474D4D;
}

table tr:nth-child(even){
	
	
}
.nocenter {
	text-align: left;
	padding-left: 5px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }